.signup-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #baacff;
}

.signup {
    display: flex;
    width: 70%;
    height: 80%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 3px 15px rgb(0 0 0 / 0.3);
    overflow: hidden;
}

.signup .info {
    background-color: #e0c4ff;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup .info img {
    width: 80%;
}

.signup .info h2 {
    color: white;
    text-align: center;
    margin: 1.5rem 0 0;
    width: 100%;
    font-size: 1.25rem;
    font-weight: 400;
}

.signup-form {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form form {
    width: 70%;
}

.signup-form form h1 {
    margin: 0.5rem 0;
}

.signup-form form p {
    color: #afafaf;
    font-weight: lighter;
}

.signup-form form p #loginLink {
    color: #bbadff;
    font-weight: bold;
    cursor: pointer;
}

.signup-form form p a:hover {
    text-decoration: underline;
}

.signup-input-group, .signup-button-group {
    width: 100%;
}

.signup-input-group {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.signup-input-group label {
    margin: 0.5rem 0;
}

.signup-input-group input {
    border: none;
    padding: 0.75rem;
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    outline: none;
}

.signup-input-group input:focus {
    border: 1px solid #baacff;
}

.signup-button-group {
    margin: 1.5rem 0;
}

.signup-button-group button {
    outline: none;
    border: none;
    width: 100%;
    padding: 0.7rem 0;
    border-radius: 5px;
    background-color: #baacff;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.25s;
}

.signup-button-group button:hover {
    background-color: #a795ff;
}

@media(max-width: 850px) {
    .signup .info {
        display: none;
    }

    .signup-form {
        width: 100%;
    }

    .signup-form form {
        width: 80%;
    }

    .signup {
        align-items: center;
        justify-content: center;
    }
}

@media(max-width: 500px) {
    .signup-form form {
        width: 80%;
    }
}